* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: rgb(37, 43, 41);
}


.header_title_1 {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  text-align: center;
  color: orange;
  font-size: 50px;
}


.header_title {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  text-align: center;
  color: orange;
  font-size: 50px;
  text-decoration: none;
}

.header_title:hover {
  color: darkmagenta;
}

.wrapper{
  border:3px solid red;
  width: 100%;
  height:20%;
  margin: 0 auto;
  text-decoration: none;
}

.logo{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  justify-content: space-around;
  text-decoration: none;
  /* border:2px solid pink; */
}


.text{
  color: tomato;
  border:3px solid greenyellow;
  width: 100%;
  height: 30%;
}


.button_cor>img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  width: 80px;
  border:2px solid red;
  transition: 1s;
  text-decoration: none;
}
   
.button_cor>img:hover {
  border: transparent;
}

.button_drone>img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  width: 80px;
  border:2px solid red;
  transition: 1s;
  text-decoration: none;
}

.button_drone>img:hover {
  border: transparent;
}

.button_radio>img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  width: 80px;
  border:2px solid red;
  transition: 1s;
  text-decoration: none;
}

.button_radio>img:hover {
  border: transparent;
}

.button_others>img {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 80px;
  width: 80px;
  border:2px solid red;
  transition: 1s;
  text-decoration: none;
}

.button_others>img:hover {
  border: transparent;
}

.button_text {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  border:2px solid yellow;
  margin-bottom: 20px;
  font-size: 25px;
  color: orange;
  transition: 0.5s;
  text-decoration: none;
}

.button_text:hover {
  color: red;
  border: 2px solid red;
}

.button_home {
  text-decoration: none;
}

.text {
  text-align: center;
}

.content_paragraph{
  font-size: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.content_video {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  height: 80%;
  width: 80%;
}

.content_audio {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  width: 80%;
  min-width: 220px;
  border:2px solid white;
}


.footer{
  border:2px solid red;
  display: flex;
	bottom:0;
	width:100%;
  height:30px;
}

.footer_text {
  display: flex;
  font-size: 20px;
  color: whitesmoke;
}

.content_box {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 30px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  color: black;
  border: 2px solid red;
  background-color: black;
}

.content_list {
  display: flex;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  text-align: center;
  color: orange;
  font-size: 35px;
}

.todo_item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: goldenrod;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 5px;
}
  
.todo_item_container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  margin-bottom: 2%;
}
  
.todo_item_text {
  overflow: hidden;
}
  
.todo_controls {
  display: inline-flex;
}
  
.todo_item img {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  cursor: pointer;
}
  
.todo_plus {
  height: 30px;
  width: 30px;
  margin-left: 30px;
  transition: 0.5s;
  text-align: center;
}

.todo_plus:hover {
  border: 2px solid orange;
}